<!-- eCommerce ExceedGo -->
<h5>Project Role: {{ content.role }}</h5>
<section class="my-5">
    <h4 section>
        Overview
    </h4>
    <p>The internal sales team found it difficult to sell their eCommerce product. The assumption was that it didn't
        have
        features the client wanted for their customers.</p>
    <p>I compared user pain points with a heuristic evaluation and supportive research to support a sitewide redesign
        that
        would address user concerns and meet stakeholder requirements.</p>
    <p>During the middle of the project an escalation regarding the current platform and ADA compliance required our
        project
        decisions to pivot.</p>
    <h5>
        Approach
    </h5>
    <p>Budget and scope of this project was limited and didn't allow many opportunities for feature enhancements.
        Therfore the design team needed to be methodical with our approach to ensure enhancements were strategic.</p>
    <ol>
        <li>
            Unpack Project
        </li>
        <li>
            Concept solution
        </li>
        <li>
            Iterate
        </li>
        <li>
            Phased delivery
        </li>
    </ol>
    <h5>
        Success criteria
    </h5>
    <p>We bagan by unpacking the business needs and what spelled success for them:</p>
    <ul>
        <li>Remove all ADA WCAG 2.0(AA) defects</li>
        <li>Create a modern site for end-users</li>
        <li>Provide a way for users to save items</li>
    </ul>
    <p>
    <p>We then needed to verify if the initial business goals were inline with the users' needs. I then walked through
        and spoke
        with end-users and clients to understand their thoughts. Their response indicated a different set of needs not
        provided by the system.</p>
    <p>Expected functions were not present and prevented the flexibility of the eCommerce service:</p>
    <ul>
        <li>Unable to easily find items</li>
        <li>Point value was hard to identify</li>
        <li>Browsing methods were difficult and not flexible</li>
    </ul>
</section>
<section class="my-5">
    <h4 section>
        Design Concepts
    </h4>
    <h5>Display of items</h5>
    <p>Modification to the cart began with making the images larger. After that bringing displaying the the selected
        options and a larger price was introduced as part of assisting user visibility. From here we incorporated a new
        feature to allow users to assign the configuration to a wishlist. This would allow the user to preload the
        options and skip the selection process.</p>
    <div class="my-5">
        <figure class="d-flex flex-column align-items-center">
            <img class="full-image" src="{{ imgFolder + 'list_item_conversion.png' }}">
            <figcaption class="pt-4">Design stages of the single item</figcaption>
        </figure>
    </div>
    <div class="my-5">
        <figure class="d-flex flex-column align-items-center">
            <img class="full-image" src="{{ imgFolder + 'list_page_conversion.png' }}">
            <figcaption class="pt-4">Comparison between the two page versions</figcaption>
        </figure>
    </div>
    <h5>Items in cart</h5>
    <p>Modification to the cart began with making the images larger. After that bringing displaying the the selected
        options and a larger price was introduced as part of assisting user visibility. From here we incorporated a
        new
        feature to allow users to assign the configuration to a wishlist. This would allow the user to preload the
        options and skip the selection process.</p>
    <div class="my-5">
        <figure class="d-flex flex-column align-items-center">
            <img class="full-image" src="{{ imgFolder + 'cart_conversion.png' }}">
            <!-- <figcaption class="pt-4">Session Duration</figcaption> -->
        </figure>
    </div>
    <h5>Search input location</h5>
    <p>Modification to the cart began with making the images larger. After that bringing displaying the the selected
        options and a larger price was introduced as part of assisting user visibility. From here we incorporated a
        new
        feature to allow users to assign the configuration to a wishlist. This would allow the user to preload the
        options and skip the selection process.</p>
    <div class="my-5">
        <figure class="d-flex flex-column align-items-center">
            <img class="full-image" src="{{ imgFolder + 'search_header.png' }}">
            <!-- <figcaption class="pt-4">Session Duration</figcaption> -->
        </figure>
    </div>
</section>

<section class="my-5">
    <h4 section>
        Research
    </h4>
    <!-- <p>Some blurb about designs</p> -->
    <p>Modification to the cart began with making the images larger. After that bringing displaying the the selected
        options and a larger price was introduced as part of assisting user visibility. From here we incorporated a new
        feature to allow users to assign the configuration to a wishlist. This would allow the user to preload the
        options and skip the selection process.</p>
    <div class="d-flex my-5">
        <div class="col">
            <figure class="d-flex flex-column align-items-center">
                <img class="border" style="width: 100%" src="{{ imgFolder + 'search_heatmap.webp' }}" alt="">
                <figcaption class="pt-4">User search heatmap</figcaption>
            </figure>
        </div>
        <div class="ml-4 pr-4 border-left"></div>
        <div class="col">
            <figure class="d-flex flex-column align-items-center">
                <img class="border" style="width: 100%" src="{{ imgFolder + 'list_clickmap.webp' }}" alt="">
                <figcaption class="pt-4">Click functionality click map</figcaption>
            </figure>
        </div>
    </div>
</section>
<section class="my-5">
    <h4 section>
        Development
    </h4>
    <p>For this project we were working with a remote team of developers who had limited front-end experience. This
        presented additional challenges late in the project and we needed to adapt. Since we were not in the same place,
        timezone (developers were on the east coast), and limited experience; my deliverables needed to be presented in
        a well laid out manner. In addition to my presentation we utilized <a href="https://zeplin.io/"
            target="blank">Zeplin</a> to assist the styling so our handoff could focus on functionality.</p>
    <!-- <p>I chose to separate the designs into three different formats:</p> -->
    <h5>Development support</h5>
    <div class="d-flex my-5">
        <div class="col">
            <figure class="d-flex flex-column align-items-center">
                <img style="width: 100%" src="{{ imgFolder + 'annotations.png' }}" alt="">
                <figcaption class="pt-4">Annotated notes for designs</figcaption>
            </figure>
        </div>
        <div class="ml-4 pr-4"></div>
        <div class="col">
            <figure class="d-flex flex-column align-items-center">
                <img style="width: 100%" src="{{ imgFolder + 'tab_order.png' }}" alt="">
                <figcaption class="pt-4">Indicators for tab order</figcaption>
            </figure>
        </div>
    </div>
    <h5>Style guide</h5>
    <div class="my-5">
        <figure class="d-flex flex-column align-items-center">
            <img class="full-image" src="{{ imgFolder + 'style_guide.jpg' }}">
            <figcaption class="pt-4">Design styling</figcaption>
        </figure>
    </div>
</section>