<!-- eCommerce ExceedGo -->
<section class="my-5">
    <h4 section>
        Overview
    </h4>
    <p>To verify if the initial business goals were in line with the users’ challenges, I spoke with users and
        walked them through the site to gather their initial thoughts. Their response indicated a completely
        different reason for not being interested in the site.</p>
</section>
<section class="my-5">
    <h4 section>
        Research
    </h4>
    <p>I conduct routine discovery by browsing successful designers and reading through their portfolios. While
        doing
        this, I’m paying attention to their style of writing about design decisions. I also read blogs and other
        articles on sites such as
        <a href="https://uxdesign.cc/" target="blank">UX Collective</a>,
        <a href="https://uxmastery.com/" target="blank">UX Mastery</a>,
        <a href="https://theuxblog.com/" target="blank">UX Blog</a>,
        <a href="https://medium.com/topic/design" target="blank">Medium Design</a> articles.
        Combined, these articles help keep my focus and offer different approaches to articulating my design
        decisions.
    </p>
</section>
<section class="my-5">
    <h4 section>
        Design Concepts
    </h4>
    <p>I conduct routine discovery by browsing successful designers and reading through their portfolios. While
        doing
        this, I’m paying attention to their style of writing about design decisions. I also read blogs and other
        articles on sites such as
        <a href="https://uxdesign.cc/" target="blank">UX Collective</a>,
        <a href="https://uxmastery.com/" target="blank">UX Mastery</a>,
        <a href="https://theuxblog.com/" target="blank">UX Blog</a>,
        <a href="https://medium.com/topic/design" target="blank">Medium Design</a> articles.
        Combined, these articles help keep my focus and offer different approaches to articulating my design
        decisions.
    </p>
</section>
<section class="my-5">
    <h4 section>
        Deliverables
    </h4>
    <p>I conduct routine discovery by browsing successful designers and reading through their portfolios. While
        doing
        this, I’m paying attention to their style of writing about design decisions. I also read blogs and other
        articles on sites such as
        <a href="https://uxdesign.cc/" target="blank">UX Collective</a>,
        <a href="https://uxmastery.com/" target="blank">UX Mastery</a>,
        <a href="https://theuxblog.com/" target="blank">UX Blog</a>,
        <a href="https://medium.com/topic/design" target="blank">Medium Design</a> articles.
        Combined, these articles help keep my focus and offer different approaches to articulating my design
        decisions.
    </p>
</section>
<section class="my-5">
    <h4 section>
        Development
    </h4>
    <p>I conduct routine discovery by browsing successful designers and reading through their portfolios. While
        doing
        this, I’m paying attention to their style of writing about design decisions. I also read blogs and other
        articles on sites such as
        <a href="https://uxdesign.cc/" target="blank">UX Collective</a>,
        <a href="https://uxmastery.com/" target="blank">UX Mastery</a>,
        <a href="https://theuxblog.com/" target="blank">UX Blog</a>,
        <a href="https://medium.com/topic/design" target="blank">Medium Design</a> articles.
        Combined, these articles help keep my focus and offer different approaches to articulating my design
        decisions.
    </p>
    <div class="py-3">
        <div class="support-block row">
            <div class="col-12 col-lg-4 d-flex align-items-center">
                <figure class="d-flex flex-column align-items-center">
                    <img class="w-100" src="{{ imgFolder + 'old_site_category.webp' }}">
                    <figcaption>Starting product design</figcaption>
                    <!-- <figcaption>Session Duration</figcaption> -->
                    <!-- <img class="border" style="width: 100%" src="./images/old_site_category.webp" alt=""> -->
                </figure>
            </div>
            <div class="col-12 col-lg-4 d-flex align-items-center">
                <figure class="d-flex flex-column align-items-center">
                    <img class="w-100 pb-4 pb-lg-0" src="{{ imgFolder + 'Low_Category.jpg' }}">
                    <figcaption class="position-absolute" style="bottom: 1rem;">Low fidelity wireframes</figcaption>
                </figure>
            </div>
            <div class="col-12 col-lg-4 d-flex align-items-center">
                <figure class="d-flex flex-column align-items-center">
                    <img class="w-100 pb-4 pb-lg-0" src="{{ imgFolder + 'exc_new_category.jpg' }}">
                    <figcaption class="position-absolute" style="bottom: 1rem;">Final design</figcaption>
                </figure>
            </div>



            <div class="col-12 col-lg-4 d-flex align-items-center">
                <figure class="d-flex flex-column align-items-center">
                    <img class="w-100 pb-4 pb-lg-0" src="{{ imgFolder + 'search_heatmap.webp' }}">
                    <figcaption class="position-absolute" style="bottom: 1rem;">User search heatmap</figcaption>
                </figure>
            </div>
            <div class="col-12 col-lg-4 d-flex align-items-center">
                <figure class="d-flex flex-column align-items-center">
                    <img class="w-100 pb-4 pb-lg-0" src="{{ imgFolder + 'list_clickmap.webp' }}">
                    <figcaption class="position-absolute" style="bottom: 1rem;">Click functionality click map
                    </figcaption>
                </figure>
            </div>
            <div class="col-12 col-lg-4 d-flex align-items-center">
                <figure class="d-flex flex-column align-items-center">
                    <img class="w-100 pb-4 pb-lg-0" src="{{ imgFolder + 'dev_handoff_1.webp' }}">
                    <figcaption class="position-absolute" style="bottom: 1rem;">Functionality Documentation
                    </figcaption>
                </figure>
            </div>
            <div class="col-12 col-lg-4 d-flex align-items-center">
                <figure class="d-flex flex-column align-items-center">
                    <img class="w-100 pb-4 pb-lg-0" src="{{ imgFolder + 'Exc_Style_Guide.jpg' }}">
                    <figcaption class="position-absolute" style="bottom: 1rem;">Pattern Style Guide</figcaption>
                </figure>
            </div>
        </div>
    </div>
</section>

<!-- <div class="col">
    <h1 section>
        <span>Design Portfolio</span>
    </h1>
    <section class="my-5">
        <h4 section>
            Research
        </h4>
        <p>I conduct routine discovery by browsing successful designers and reading through their portfolios. While
            doing
            this, I’m paying attention to their style of writing about design decisions. I also read blogs and other
            articles on sites such as
            <a href="https://uxdesign.cc/" target="blank">UX Collective</a>,
            <a href="https://uxmastery.com/" target="blank">UX Mastery</a>,
            <a href="https://theuxblog.com/" target="blank">UX Blog</a>,
            <a href="https://medium.com/topic/design" target="blank">Medium Design</a> articles.
            Combined, these articles help keep my focus and offer different approaches to articulating my design
            decisions.
        </p>
        <p>Direct user research is difficult because feedback is recieved in various forms and is hard to pin-point
            usability issues. My
            primary
            method of obtaining user insights is through the use of
            <a href="https://analytics.google.com/analytics/web/" target="blank">Google Analytics</a>.
        </p>
        <div class="py-3">
            <div class="support-block row align-items-center">
                <figure class="col-12 col-lg-3">
                    <img class="w-100" src="{{ imgFolder + 'ganalytics_logo.jpg'}}">
                </figure>
                <span class="col-12 col-lg">
                    <h5>Google Analytics</h5>
                    <p>Google Analytics helps me observe where the majority of traffic is coming from and the various
                        facets of my site users found interesting.</p>
                </span>
            </div>
        </div>
        <p>The three primary data sources I use to draw conclusions are session duration, traffic source.
            The drawback to using this source is that I have no way of knowing the why’s behind the data.
            Altering the site based on these figures could be detrimental, so I’d need to include another source of
            research.</p>
        <div class="py-3">
            <div class="support-block row">
                <div class="col-12 col-lg-4 d-flex align-items-center">
                    <figure class="d-flex flex-column align-items-center">
                        <img class="w-100" src="{{ imgFolder + 'bounce.png' }}">
                        <figcaption>Session Duration</figcaption>
                    </figure>
                </div>
                <div class="col-12 col-lg-4 d-flex align-items-center">
                    <figure class="d-flex flex-column align-items-center">
                        <img class="w-100 pb-4 pb-lg-0" src="{{ imgFolder + 'source.png' }}">
                        <figcaption class="position-absolute" style="bottom: 1rem;">Traffic Source</figcaption>
                    </figure>
                </div>
                <div class="col-12 col-lg-4 d-flex align-items-center">
                    <figure class="d-flex flex-column align-items-center">
                        <img class="w-100 pb-4 pb-lg-0" src="{{ imgFolder + 'pageviews.png' }}">
                        <figcaption class="position-absolute" style="bottom: 1rem;">View Count</figcaption>
                    </figure>
                </div>
            </div>
        </div>
        <div class="py-2">
            <h5>Colleague Review</h5>
            <p>I tried to utilize colleague review, however have had little success. This approach presents multiple
                problems by itself, whether it’s the reviewers schedule, the extent of visibility on collaborative work,
                or
                just the sheer interest of looking at a portfolio.</p>
            <p>When doing a colleague review, I primarily assess if they understood the listed projects and if there are
                areas I could elaborate on to complete the whole story.</p>
        </div>
        <div class="py-2">
            <h5>Job Seeking</h5>
            <p>Interviewing is the final and most critical way of gaining user insight. This is because I’m working
                directly
                with my site’s intended users. Throughout the interview process, users observe and can directly ask
                questions.
                Not to mention, walking through projects and verbally communicating the scope of projects myself.</p>
            <p>All of these methods combined have allowed me to identify the critical elements of a successful portfolio
                as
                well as areas for improvement.</p>
        </div>
    </section>
</div> -->



<!-- <div class="col-12 col-xl-8">
    <div class="pfolio-card">
        <div class="pfolio-card-title d-flex align-content-center">
            <i class="material-icons text-dark-blue">important_devices</i>
            <span class="ml-2">Project Overview</span>
        </div>
        <div class="row">
            <div class="col-12 col-lg-6">
                <h4>Problem</h4>
                <p>The internal sales team found it difficult to sell their eCommerce product. The assumption was
                    that it didn't have features the client wanted for their customers.</p>
            </div>
            <div class="col-12 col-lg-6">
                <h4>Solution</h4>
                <p>I compared user pain points with a heuristic evaluation and supportive research to support a sitewide
                    redesign that would address user concerns and meet stakeholder requirements.</p>
            </div>
            <div class="col-12 col-lg-6">
                <h4>My Role</h4>
                <ul>
                    <li>Design Lead</li>
                    <li>Prototyper</li>
                </ul>
            </div>
            <div class="col-12 col-lg-6">
                <h4>The Challenge</h4>
                <p>During the middle of the project an escalation regarding the current platform and ADA compliance
                    required our project decisions to pivot.</p>
            </div>
        </div>
    </div>
</div> -->

<!-- <div class="col-12 col-xl-4">
    <div class="pfolio-card">
        <div class="pfolio-card-title d-flex align-content-center">
            <i class="material-icons-outlined text-green">tag_faces</i>
            <span class="ml-2">Client Success / User Goals</span>
        </div>
        <div class="pfolio-card-content">
            <div class="row">
                <div class="col-12 col-md-6 col-xl-12">
                    <h4>Business Success</h4>
                    <ol>
                        <li>Remove all ADA defects</li>
                        <li>Create a modern site for end-users</li>
                        <li>Provide a way for users to save items</li>
                    </ol>
                </div>
                <div class="col-12 col-md-6 col-xl-12">
                    <h4>User Success</h4>
                    <ul>
                        <li>Easily find items</li>
                        <li>Identify points value</li>
                        <li>Additional methods for browsing</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div> -->

<!-- <div class="col-12 col-xl-6">
    <div class="pfolio-card">
        <div class="pfolio-card-title d-flex align-content-center">
            <i class="material-icons-outlined">search</i>
            <span class="ml-2">Discovery</span>
        </div>
        <div class="pfolio-card-content">
            <div class="mt-sm-4 mt-md-0">
                <div class="mt-4 mt-md-0">
                    <p>To verify if the initial business goals were in line with the users’ challenges, I spoke
                        with users and walked them through the site to gather their initial thoughts. Their response
                        indicated a
                        completely different reason for not being interested in the site.</p>
                </div>
                <div class="my-4 my-md-0 px-4 py-md-3 py-2 text-center font-italic blowout-txt">
                    <p>“...This is just dull and boring..."</p>
                </div>
                <div class="mt-4 mt-md-0">
                    <p>The user feedback showed that the current design was mundane and tedious to use. One user
                        mentioned that the site made them question if they would even receive their order.</p>
                    <p>To address this, I conducted a heuristic evaluation to identify and prioritize areas with
                        greatest opportunities to improve the ‘look and feel’ and generate sales.
                        I brought my findings back to the stakeholders and explained that if we improve
                        just the ‘look and feel’ our sales will increase.</p>
                </div>
                <div class="blowout-txt text-center">
                    <p>Success! The users have been heard.</p>
                </div>
            </div>
        </div>
    </div>
</div> -->

<!-- <div class="col-12 col-xl-6">
    <div class="pfolio-card">
        <div class="pfolio-card-title d-flex align-content-center">
            <i class="material-icons text-dark-red">crop_rotate</i>
            <span class="ml-2">Concepting</span>
        </div>
        <div class="pfolio-card-content">
            <div class="mt-sm-4 mt-md-0">
                <p>Through multiple rounds of initial mockups, a rough concept was formed. I took this concept and
                    introduced it to the stakeholders and the designs had signoff.</p>
            </div>
            <div class="d-flex my-5">
                <div class="col-12 col-md">
                    <figure>
                        <img class="border" style="width: 100%" src="./images/old_site_category.webp" alt="">
                        <figcaption class="pt-2">Starting product design</figcaption>
                    </figure>
                </div>
                <div class="ml-4 pr-4 border-left">
                </div>
                <div class="col-12 col-md">
                    <figure>
                        <img class="border" style="width: 100%" src="./images/Low_Category.jpg" alt="">
                        <figcaption class="pt-2">Low fidelity wireframes</figcaption>
                    </figure>
                </div>
                <div class="ml-4 pr-4 border-left">
                </div>
                <div class="col-12 col-md">
                    <figure>
                        <img class="border" style="width: 100%" src="./images/exc_new_category.jpg" alt="">
                        <figcaption class="pt-2">Final design</figcaption>
                    </figure>
                </div>
            </div>
            <div class="blowout-txt text-center">
                <p>Signoff is great, but did it actually solve the problem?</p>
            </div>

        </div>
    </div>
</div> -->

<!-- <div class="col-12 col-xl-7">
    <div class="pfolio-card">
        <div class="pfolio-card-title d-flex align-content-center">
            <i class="material-icons-outlined text-light-blue">pageview</i>
            <span class="ml-2">Research</span>
        </div>
        <div class="pfolio-card-content">
            <div class="mt-sm-4 mt-md-0">
                <p>We recruited additional users and presented them with questions and tasks to observe how they
                    interacted with the new site designs.</p>
            </div>
            <div class="d-flex my-5">
                <div class="col-12 col-md">
                    <figure>
                        <img class="border" style="width: 100%" src="./images/search_heatmap.webp" alt="">
                        <figcaption class="pt-2">User search heatmap</figcaption>
                    </figure>
                </div>
                <div class="ml-4 pr-4 border-left"></div>
                <div class="col-12 col-md">
                    <figure>
                        <img class="border" style="width: 100%" src="./images/list_clickmap.webp" alt="">
                        <figcaption class="pt-2">Click functionality click map</figcaption>
                    </figure>
                </div>
            </div>
            <div class="blowout-txt text-center">
                <p>“This is not something I’d expect from my bank. It is a very nice design and I’d see myself using
                    this frequently.”</p>
            </div>
            <div class="mt-sm-4 mt-md-0">
                <p>The evaluation led to clear, defined results to present to the stakeholders for project kickoff and
                    development to begin.</p>
            </div>
        </div>
    </div>
</div> -->

<!-- <div class="col-12 col-xl-5">
    <div class="pfolio-card">
        <div class="pfolio-card-title d-flex align-content-center">
            <i class="material-icons-outlined text-light-red">warning</i>
            <span class="ml-2">ADA Issues</span>
        </div>
        <div class="pfolio-card-content">
            <div class="mt-sm-4 mt-md-0">
                <h5>Clients</h5>
                <p>Some of our clients require Double A (AA) compliance. While we were in the process of development our
                    teams uncovered code that broke compliance. Because of this our project scope and budget shifted to
                    address this critical issue.</p>
                <h5>Some issues included</h5>
                <ul>
                    <li>Missing image alt text</li>
                    <li>Display of elements vs functionality</li>
                    <li>Minor color contrast</li>
                    <li>Keyboard navigation</li>
                </ul>
                <h5>Resolution</h5>
                <p>After onboarding an ADA resource, we worked hand in hand to address each item individually and
                    benchmarked our platform. We concluded that our efforts had resolved the ADA issues and, while a
                    little behind schedule, we were able to continue with the intended scope.</p>
            </div>
        </div>
    </div>
</div> -->


<!-- <div class="col-12">
    <div class="pfolio-card">
        <div class="pfolio-card-title d-flex align-content-center">
            <i class="material-icons text-green">folder_shared</i>
            <span class="ml-2">Deliverable Handoff</span>
        </div>
        <div class="pfolio-card-content">
            <div class="mt-sm-4 mt-md-0">
                <p>Handoff happened in multiple phases due to the scale of this project. I provided initial mockups to
                    the team for reference while they created their user stories. I then created additional pages for
                    functionality and styling.</p>
                <p>To assist with the communication between design and development we used Zeplin to outline the
                    specific components and their attributes.</p>
            </div>
            <div class="my-md-0 my-sm-4 px-4 py-md-3 py-2">
                <div class="row">
                    <div class="col-sm-12 col-md">
                        <figure>
                            <img class="border w-100" src="./images/dev_handoff_1.webp" alt="">
                            <figcaption class="pt-2">Functionality Documentation</figcaption>
                        </figure>
                    </div>
                    <div class="ml-4 pr-4 border-left"></div>
                    <div class="col-sm-12 col-md">
                        <figure>
                            <img class="border w-100" src="./images/Exc_Style_Guide.jpg" alt="">
                            <figcaption class="pt-2">Pattern Style Guide</figcaption>
                        </figure>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div> -->