<div class="col">
    <h1 section>
        <span>Sitemaps</span>
    </h1>
    <!-- <h5>Project Role: UX Designer & Developer</h5> -->
    <!-- <h4 section>Urban invite</h4> -->
    <section class="my-5">
        <h4 section>
            UrbanInvite
        </h4>
        <p>UrbanInvite was a design challenge concept submited as part of my job application for cxLoyalty, inc.
        </p>
        <figure class="d-flex flex-column align-items-center">
            <img class="full-image border" src="{{ imgFolder + 'Sitemap-01.png' }}">
        </figure>
        <figure class="d-flex flex-column align-items-center">
            <img class="full-image border" src="{{ imgFolder + 'Sitemap-02.png' }}">
        </figure>
        <figure class="d-flex flex-column align-items-center">
            <img class="full-image border" src="{{ imgFolder + 'Sitemap-03.png' }}">
        </figure>
        <figure class="d-flex flex-column align-items-center">
            <img class="full-image border" src="{{ imgFolder + 'Sitemap-04.png' }}">
        </figure>
        <figure class="d-flex flex-column align-items-center">
            <img class="full-image border" src="{{ imgFolder + 'Sitemap-05.png' }}">
        </figure>
        <figure class="d-flex flex-column align-items-center">
            <img class="full-image border" src="{{ imgFolder + 'Sitemap-06.png' }}">
        </figure>
    </section>
</div>