<!-- <p>homepage works!</p> -->
<div class="" id="hero">
    <section class="d-flex flex-column justify-content-center">
        <span id="ply-card" class="row no-gutters">
            <span id="ply-img" class="col-12 col-md">
                <img src="" alt="">
            </span>
            <div class="content col-12 col-md">
                <div class="name">Geoffrey Ferril</div>
                <div class="title">UX Designer</div>
            </div>
        </span>
        <div class="background"></div>
    </section>
</div>
<!-- <section class="interest">
    <div class="section-content row no-gutters">
        <div class="col-12 col-md d-flex d-md-block justify-content-center">
            <img src="../../../../assets/images/outline.png" alt="" class="float-md-right">
        </div>
        <div class="left-content col-12 col-md">
            <h4>EXPERIENCE DESIGN</h4>
            <p>
                Design with with your users in mind to evolve the experience of your application. I focus on thoughtful
                evaluation of your users tasks to understand who they are. This task based approach offers a holistic
                view of your application and identifies areas for improvement.
            </p>
        </div>
    </div>
</section> -->
<section class="interest d-flex">
    <div class="section-content col-12 col-md-9 col-xl-7 row">
        <div class="col-12 d-flex col-md-auto justify-content-center">
            <img alt="" class="" src="../../../../assets/images/outline.png">
        </div>
        <div class="left-content col-12 col-md">
            <h4>EXPERIENCE DESIGN</h4>
            <p>
                Design with with your users in mind to evolve the experience of your application. I focus on thoughtful
                evaluation of your users tasks to understand who they are. This task based approach
                offers a holistic view of your application and identifies areas for improvement.
            </p>
        </div>
    </div>
</section>
<section class="interest d-flex">
    <div class="section-content col-12 col-md-9 col-xl-7 row">
        <div class="right-content col-12 col-md">
            <h4>INTERACTION DESIGN</h4>
            <p>
                UI design requires an understanding of technical limitations, web design, and supportive framework
                knowledge. My skills assist both designers and developers through the creation of custom design systems
                (both static and interactive), interactive prototypes, responsive layouts, detailed annotated
                wireframes, and much more.
            </p>
        </div>
        <div class="col-12 d-flex col-md-auto justify-content-center order-first order-md-last">
            <img alt="" class="" src="../../../../assets/images/na.png">
        </div>
    </div>
</section>
<section class="interest d-flex">
    <div class="section-content col-12 col-md-9 col-xl-7 row">
        <div class="col-12 d-flex col-md-auto justify-content-center">
            <img alt="" class="" src="../../../../assets/images/outline.png">
        </div>
        <div class="left-content col-12 col-md">
            <h4>INFORMATION ARCHITECTURE</h4>
            <p>
                Adding content is fairly easy; adding cohesive and intuitive content at large scale is not.
                Communicating with users and stakeholers can be a challenge. With the assistance of sitemaps and user
                flows I construct diagrams that ensure newly added items align seamlessly and are methodical with user's
                in mind based on their goals.
            </p>
        </div>
    </div>
</section>
<!-- <section class="interest">
    <div class="section-content row no-gutters">
        <div class="right-content col-12 col-md">
            <h4>INTERACTION DESIGN</h4>
            <p>
                UI design requires an understanding of technical limitations, web design, and supportive framework
                knowledge. My skills assist both designers and developers through the creation of custom design systems
                (both static and interactive), interactive prototypes, responsive layouts, detailed annotated
                wireframes, and much more.
            </p>
        </div>
        <div class="col-12 col-md d-flex order-first order-md-last d-md-block justify-content-center">
            <img src="../../../../assets/images/outline.png" alt="">
        </div>
    </div>
</section>
<section class="interest">
    <div class="section-content row no-gutters">
        <div class="col-12 col-md d-flex d-md-block justify-content-center">
            <img src="../../../../assets/images/outline.png" alt="" class="float-md-right">
            <div class="float-md-right" id="img"></div>
        </div>
        <div class="left-content col-12 col-md">
            <h4>INFORMATION ARCHITECTURE</h4>
            <p>
                Adding content is fairly easy; adding cohesive and intuitive content at large scale is not.
                Communicating with users and stakeholers can be a challenge. With the assistance of sitemaps and user
                flows I construct diagrams that ensure newly added items align seamlessly and are methodical with user's
                in mind based on their goals.
            </p>
        </div>
    </div>
</section> -->
<!--
<div id="filler"></div> -->