@import '../../../../../projects/g-design-lib/src/lib/atoms/colors.scss';

#hero {
    // padding-top: 10em;
    margin-bottom: 4rem;
    text-align: center;

    @media (min-width: 768px) {
        text-align: left;
    }

    #ply-card {
        margin: 0 auto;
        display: inline-flex;
        position: relative;
        z-index: 1;
        padding: 3rem 0 4rem;

        .content {
            margin-top: 0.785rem;
            color: white;

            @media (min-width: 768px) {
                margin-top: 2rem;
                margin-left: 2rem;
            }

            .name {
                font-size: 2.25rem;
            }
        }
    }

    #ply-img {
        >img {
            width: 180px;
            border-radius: 50%;
            background-color: beige;
        }

    }

    .background {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        position: absolute;
        width: 100%;
        /* max-height: 500px; */
        // padding: 48px 0px;
        transform: skewY(-8deg);
        transform-origin: -35rem;

        >div {
            width: 100%;
            height: 40px;
            background: var(--light-blue);
        }

        >div.bkgd-top {
            width: 100%;
            height: 580px;
            background: black;
        }
    }

    // .background.bkgd-top {
    //     height: 440px;
    //     background: black;
    // }
}


section.interest {
    padding: 3em 0;
    border-bottom: 1px solid;

    .section-content {
        max-width: 1048px;
        margin: 32px auto;

        >div {
            padding: 0 25px;
        }

        img {
            max-height: 250px;
        }

        .left-content,
        .right-content {
            padding-top: 1rem;
            text-align: center;
        }

        .left-content {
            @media (min-width: 768px) {
                text-align: left;
            }
        }

        .right-content {
            @media (min-width: 768px) {
                text-align: right;
            }
        }
    }
}

section.interest:last-child {
    border-bottom: none;
}

#filler {
    height: 3000px;
    width: 100%;
}