<header>
    <!-- BACKGROUND IMAGE -->
    <div class="background-sky hero"></div>
    <!-- INTRO SECTION -->
    <section id="intro">
      <!-- LOGO -->
      <div class="hero-logo">
        <img src="assets/images/logos/angular/angular.svg" alt="Angular" width="250" height="250">
      </div>
      <!-- CONTAINER -->
      <div class="homepage-container">
        <div class="hero-headline no-toc">One framework.<br>Mobile &amp; desktop.</div>
        <a class="button hero-cta" href="docs">Get Started</a>
      </div>
    </section>
  </header>