:host{
    padding: 0;
}

.hero {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    width: 100%;
    min-height: 480px;
    height: 80vh;
    max-height: 560px;
    box-sizing: border-box;
    padding: 48px 48px 32px;
    overflow: hidden;
    /* transform: skewY(8deg); */
    /* transform-origin: 100%; */
}
.background-sky {
    background-color: #0a1014;
    background: #0a1014;
    color: #fff;
}
section#intro {
    display: flex;
    align-items: center;
    position: relative;
    width: 900px;
    height: 480px;
    margin: 0 auto -32px;
    padding: 48px 0 0;
    color: #fff;
}