<!-- ng-attr-data-toggle="{{ isValueTrue ? 'toggle' : 'notToggle' }}" -->
<span *ngFor="let breadcrumb of breadcrumbs; let i = index; let items = count; last as isLast; first as isFirst">
    <a *ngIf="!breadcrumb.url" class="breadcrumbs">Homepage</a>
    <a *ngIf="isFirst && breadcrumb.url" routerLink="/" class="breadcrumbs">Homepage</a>
    <span *ngIf="breadcrumb.url">
        <span>&nbsp;&nbsp;/&nbsp;&nbsp;</span>
        <a *ngIf="isLast == false && items > 1" [routerLink]="breadcrumb.url"
            class="breadcrumbs">{{ breadcrumb.label }}</a>
        <a *ngIf="items == 1 || isLast" class="breadcrumbs">{{ breadcrumb.label }}</a>
    </span>
</span>