<!-- Account Manager - ExceedGo -->
<div class="col">
    <h1 section>
        <span>Manage Account</span>
    </h1>
    <section class="my-5">
        <h4 section>
            Overview
        </h4>
        <p>To verify if the initial business goals were in line with the users’ challenges, I spoke with users and
            walked them through the site to gather their initial thoughts. Their response indicated a completely
            different reason for not being interested in the site.</p>
    </section>
</div>