#sectionContainer {
    border-left: 1px solid #dbdbdb;
    padding-left: 14px;
    list-style-type: none;

    li {
        position: relative;
        padding: 7px 0;
        font-size: 13px;
        font-weight: 600;
        color: var(--dark-blue);
        user-select: none;
    }

    li:hover ::before {
        content: "";
        border-radius: 50%;
        left: -17px;
        top: 14px;
        background: #dbdbdb;
        position: absolute;
        width: 6px;
        height: 6px;
    }

    li.active ::before {
        content: "";
        border-radius: 50%;
        left: -17px;
        top: 14px;
        background: var(--dark-blue);
        position: absolute;
        width: 6px;
        height: 6px;
    }

    li:first-child {
        padding-top: 0;

        ::after {
            content: "";
            display: block;
            height: 1px;
            width: 60%;
            margin: 14px 0 0;
            background: #dbdbdb;
            clear: both;
        }

        ::before {
            top: 7px;
        }
    }

    li:first-child:hover ::before {
        top: 7px;
    }
}