#pageContainer {

    #pageContent {
        padding: 20px;
    }

    &.modal-open {
        -webkit-filter: blur(0.2rem);
        -moz-filter: blur(0.2rem);
        -o-filter: blur(0.2rem);
        -ms-filter: blur(0.2rem);
        filter: blur(0.2rem);
    }
}

g-page-scroller {
    padding-top: 38.4px;
    padding-top: 2.4rem;
    height: calc(100vh - 60px);
}

g-unlock-modal {
    position: fixed;
    z-index: 1080;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    width: calc(100% - 0.44em);
}

// Medium
@media (min-width: 768px) {}

// Large
@media (min-width: 992px) {
    g-unlock-modal {
        width: calc(100% - 12.14rem);
    }
}