<header class="row no-gutters flex-nowrap align-items-center">
    <!-- g-button -->
    <a *ngIf="currentRoute != ''" g-button class="px-3 hamburger g-button d-flex align-items-center"
        data-toggle="collapse" data-target="#sidePanel">
        <span class="material-icons">menu</span>
    </a>

    <!-- <a id="homeLink" class="" (click)="navigateTo('')">g.ferril.com</a> -->
    <g-header-tab id="homeLink" [isLink]="false" [navLink]="''" [navTitle]="'Home'">
        g.ferril.com</g-header-tab>

    <nav id="siteNav" class="col-auto d-flex">
        <ng-container *ngFor="let headerTab of headerNavTabs; let i = index;">
            <g-header-tab *ngIf="headerTab.Visible" [isActive]="currentRoute === headerTab.Path"
                [navLink]="headerTab.Path" [navTitle]="headerTab.Text">
                {{ headerTab.Text }}
            </g-header-tab>
        </ng-container>
    </nav>

    <div class="col">
        <button *ngIf="!securityObject.isAuthenticated" class="float-right" routerLink="login">Unlock Site</button>
    </div>
    <!-- <div>g.ferril.com</div> -->
    <!-- <a id="homeLink" class="px-3 col-auto" href="./">g.ferril.com</a> -->
    <!-- <span class="col-auto">Projects</span> -->
    <!-- <span class="col-auto"></span> -->
    <!-- <span class="col"></span> -->
    <!-- <span class="col-auto float-right">CONTACT</span> -->
</header>