#contact-dropdown {
    cursor: default;
    position: relative;
    user-select: none;
    align-items: center;
}

#profile-img {
    height: 32px;
    width: 32px;
    border-radius: 16px;
    border: 2px solid var(--light-blue);
}

#contact-card {
    position: absolute;
    background-color: white;
    width: inherit;
    right: 0rem;
    padding: 1.5rem;
    top: 3rem;
    white-space: nowrap;
    border: 1px solid var(--gray-light);
    border-top: none;
    box-shadow: 2px 3px 4px -3px rgba(0, 0, 0, 0.5);
    user-select: text;
}