<div *ngFor='let item of projects'>
    <a routerLink="./{{ item.folder }}">{{ item.name }}</a>
</div>

<!-- <app-card></app-card> -->



<!-- <div class="col-12">
    <app-card [title]="'About my portfolio'" [icon]="'info'">
        <span>I'm passionate about creating scalable design systems using the latest front-end frameworks
            like Angular and Bootstrap; to which is how my portfolio was made. In addition, I styled my portfolio to
            reflect my interest working
            on enterprise level applications and the challenges they present. My intent is to demonstrate my knowledge
            and dedication to
            learning and challenging myself in new and exciting ways.</span>
        <a class="mt-3 d-block btn btn-secondary" routerLink="/work/pfolio">Read the complete case study</a>
    </app-card>
</div> -->

<!-- <div class="col-12">
    <div class="pfolio-card py-0 py-m-3 py-lg-4">
        <div class="pfolio-card-content">
            <div class="row no-gutters" id="proj-inspector">
                <figure class="col-12 col-md-6 d-flex">
                    <img src="<?php echo $this->cover;?>">
                </figure>
                <div class="col-12 col-md d-flex ml-md-3" id="proj-inspect-info">
                    <div>
                        <span id="inspect-info-name"><?php echo $this->name;?></span>
                        <span class="d-none d-inline" id="inspect-info-lock"></span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>



<div class="col-xl-4 order-1 order-xl-2">
    <div class="pfolio-card">
        <div class="pfolio-card-content">
            <span>I designed my portfolio to reflect my interest working
                on large enterprise level applications. Beyond my visual design and research
                capabilities, I wanted to showcase my technical abilities and built my portfolio
                using PHP and Javascript. My intent is to demonstrate my knowledge and dedication to
                learning and challenging myself.</span>
            <a class="mt-3 d-block btn btn-secondary" href="./work/pfolio">Read the complete case study</a>
        </div>
    </div>
</div> -->




<!-- 



    <div class="pfolio-card py-0 py-m-3 py-lg-4">
        <div class="pfolio-card-content">
        </div>
    </div>
</div>


    <div class="pfolio-card">
        <div class="pfolio-card-content">
            <span>I designed my portfolio to reflect my interest working
                on large enterprise level applications. Beyond my visual design and research
                capabilities, I wanted to showcase my technical abilities and built my portfolio
                using PHP and Javascript. My intent is to demonstrate my knowledge and dedication to
                learning and challenging myself.</span>
            <a class="mt-3 d-block btn btn-secondary" href="./work/pfolio">Read the complete case study</a>
        </div>
    </div>
</div> -->