<!-- Portfolio -->
<div class="col-12 col-xl-7">
    <app-card title="Project Overview" icon="important_devices" class="">
        <div class="col-12 col-lg-6">
            <h4>Problem</h4>
            <p>Keeping a design portfolio up to date is critical when marketing yourself in a competitive field. I
            regularly evaluate my portfolio against other designers and blogs to compare the presentation of work.</p>
        </div>
        <div class="col-12 col-lg-6">
            <h4>Solution</h4>
            <p>I compared user pain points with a heuristic evaluation and supportive research to support a sitewide
            redesign that would address user concerns and meet stakeholder requirements.</p>
        </div>
        <div class="col-12 col-lg-6">
            <h4>My Role</h4>
            <ul>
                <li>UX Designer</li>
                <li>UX Developer (FED)</li>
                <li>Back-End Developer (PHP)</li>
            </ul>
        </div>
        <div class="col-12 col-lg-6">
            <h4>The Challenge</h4>
            <p>I was challenged to understand if users (HR and Managers) found what they're looking for on my portfolio and
            if the content is easy to digest.</p>
        </div>
    </app-card>
</div>

<div class="col-12 col-xl-5">
    <app-card title="User Goals" icon="tag_faces">
        <div class="row">
            <div class="col-12 col-md-6 col-xl-12">
            <h4>HR Recruiters</h4>
            <p>Recruiters need to vet countless submissions and need to identify if I meet the basic requirements for the
                job listing. This means they want answers to their questions briefly so they can build a shortlist for the
                manager.</p>
            <ul>
                <li>Years of experience</li>
                <li>Background</li>
                <li>Credibility</li>
                <li>Career direction</li>
            </ul>
            </div>
            <div class="col-12 col-md-6 col-xl-12">
            <h4>Hiring Managers</h4>
            <p>When managers observe my portfolio, they are also trying to evaluate my ability to perform the
                responsibilities within a short period of time. Generally speaking, their points of interest are similar to
                the recruiters with a deeper focus on:</p>
            <ul>
                <li>Design process</li>
                <li>Experience working on day-to-day activities</li>
                <li>Ability to work with ambiguity</li>
                <li>Added value to the team or project</li>
            </ul>
            </div>
        </div>
    </app-card>
</div>

<div class="col-12 col-xl-5">
    <app-card title="Research" icon="pageview" iconColor="var(--light-blue)">
        <p>I conduct routine discovery by browsing successful designers and reading through their portfolios. While doing
            this,
            I’m paying attention to their style of writing about design decisions. I also read blogs and other articles
            on sites such as <a class="text-light-blue" href="https://uxdesign.cc/" target="_blank">UX Collective</a>, <a
              class="text-light-blue" href="https://uxmastery.com/" target="_blank">UX Mastery</a>, <a
              class="text-light-blue" href="https://theuxblog.com/" target="_blank">UX Blog</a>, and various <a
              class="text-light-blue" href="https://medium.com/topic/design" target="_blank">Medium Design</a> articles.
            Combined, these articles help keep my focus and offer different approaches to articulating my design decisions.
          </p>
          <p>Actual user research is difficult because it comes in multiple forms and is sometimes hard to decipher. My
            primary method of obtaining user insights is through the use of Google Analytics.</p>
          <div class="mt-4 mt-lg-5 support-container">
            <div class="support-block row align-items-center">
              <figure class="col-12 col-lg-3">
                <img class="w-100" src="./images/ganalytics_logo.jpg">
              </figure>
              <span class="col-12 col-lg">
                <h4>Google Analytics</h4>
                <p>Google Analytics helps me observe where the majority of traffic is coming from and the various facets of my 
                  site users found interesting.</p>
              </span>
            </div>
          </div>
          <p>The three primary data sources I use to draw conclusions are session duration, traffic source. 
            The drawback to using this source is that I have no way of knowing the why’s behind the data.
            Altering the site based on these figures could be detrimental, so I’d need to include another source of
            research.</p>
          <div class="support-block row">
            <div class="col-12 col-lg-4 d-flex align-items-center">
              <figure class="d-flex flex-column align-items-center">
                <img class="w-100" src="./images/bounce.png">
                <figcaption>Session Duration</figcaption>
              </figure>
            </div>
            <div class="col-12 col-lg-4 d-flex align-items-center">
              <figure class="d-flex flex-column align-items-center">
                <img class="w-100 pb-4 pb-lg-0" src="./images/source.png">
                <figcaption class="position-absolute"style="bottom: 1rem;">Traffic Source</figcaption>
              </figure>
            </div>
            <div class="col-12 col-lg-4 d-flex align-items-center">
              <figure class="d-flex flex-column align-items-center">
                <img class="w-100 pb-4 pb-lg-0" src="./images/pageviews.png">
                <figcaption class="position-absolute"style="bottom: 1rem;">View Count</figcaption>
              </figure>
            </div>
          </div>
          <div class="mt-4 mt-lg-5 support-container">
            <h4>Colleague Review</h4>
            <p>I tried to utilize colleague review, however have had little success. This approach presents multiple
              problems by itself, whether it’s the reviewers schedule, the extent of visibility on collaborative work, or
              just the sheer interest of looking at a portfolio.</p>
            <p>When doing a colleague review, I primarily assess if they understood the listed projects and if there are
              areas I could elaborate on to complete the whole story.</p>
          </div>
          <div class="mt-4 mt-lg-5 support-container">
            <h4>Interviewing</h4>
            <p>Interviewing is the final and most critical way of gaining user insight. This is because I’m working directly
              with my site’s intended users. Throughout the interview process, users observe and can directly ask questions.
              Not to mention, walking through projects and verbally communicating the scope of projects myself.</p>
          </div>
          <div class="mt-4 mt-lg-5 support-container">
            <p>All of these methods combined have allowed me to identify the critical elements of a successful portfolio as
              well as areas for improvement.</p>
          </div>
    </app-card>
</div>

<div class="col-12">
    <app-card title="Concepting" icon="crop_rotate" iconColor="var(--dark-red)">
        <div class="mt-sm-4 mt-md-0">
            <p>I try to do little concepting on my portfolio. This is because I’ve found it to be unnecessary and/or a time
              sink due to boiling the ocean and then I wind up rebuilding the framework while I’m down in the weeds.</p>
            <p>I have however, had success concepting minor tweaks like the placement of elements and the page layout with
              very rough wireframes. These are useful when I do commit to cleaning up my code and launching a revised
              framework.</p>
        </div>
    </app-card>
</div>

<div class="col-12">
    <app-card title="Design" icon="color_lens" iconColor="var(--light-blue)">
        <div class="mt-sm-4 mt-md-0">
            <p>The visual design of my portfolio is intended to reflect my self-interest of working on applications that
              deal directly with workforce users. I modeled my portfolio around an admin dashboard. Key components include
              sidebar navigation, top of page control bar, and component cards that one might observe when using similar
              applications. I’ve never been attached to specific designs, however I felt that by using this visual
              representation it would establish consistency and insight.</p>
            <div class="mt-4 support-container">
              <h4 class="col-12 col-lg-8 p-1 mb-3 ml-auto">Years of Experience</h4>
              <div class="support-block row">
                <figure class="col-12 col-lg-4 text-center mb-5">
                  <img class="w-100" src="./images/experience_1.0.png">
                  <figcaption>v1.0 Experience</figcaption>
                </figure>
                <span class="col-12 col-lg-8">
                  <h5>v1.0</h5>
                  <p>Nowhere on my site did I display my professional experience. I relied on my resume to communicate this;
                    the issue was that both items should be able to stand on its own and not need to be together.</p>
                </span>
                <figure class="col-12 col-lg-4 text-center">
                  <img class="w-100 border" src="./images/experience_2.0.png">
                  <figcaption>v2.0 Resume</figcaption>
                </figure>
                <span class="col-12 col-lg-8">
                  <h5>v2.0</h5>
                  <p>I added a section at the bottom of the homepage that mimicked my resume as a timeline. This would allow
                    HR to scan one page without clicking to identify my history</p>
                </span>
              </div>
            </div>
    
            <div class="mt-4 support-container">
              <h4 class="col-12 col-lg-8 p-1 mb-3 ml-auto">Credibility</h4>
              <div class="support-block row">
                <figure class="col-12 col-lg-4 text-center mb-5">
                  <img class="w-100" src="./images/scan_1.0.png">
                  <figcaption>v1.0 Credibility</figcaption>
                </figure>
                <span class="col-12 col-lg-8">
                  <h5>v1.0</h5>
                  <p>To help HR and Managers answer the questions they had I tried to provide a high-level overview of
                    myself on the home page. I chose to use drawers within the case studies. This was influenced by users
                    wanting to find information quickly. The downside to this is that it was tedious for users across
                    multiple studies.</p>
                </span>
                <figure class="col-12 col-lg-4 text-center mb-5">
                  <img class="w-100 border" src="./images/scan_2.0.png">
                  <figcaption>v2.0 Scannability</figcaption>
                </figure>
                <span class="col-12 col-lg-8">
                  <h5>v2.0</h5>
                  <p>To improve this, I introduced a project overview titled TL;DR (Too Long; Didn’t Read). I felt this
                    would assist HR to browse projects for keywords or areas of design the team needs. Through continuing
                    research, I learned that not everyone knows what TL;DR meant and thus was confusing.</p>
                </span>
                <figure class="col-12 col-lg-4 text-center">
                  <img class="w-100 border" src="./images/scan_3.0.png">
                  <figcaption>v3.0 Scannability</figcaption>
                </figure>
                <span class="col-12 col-lg-8">
                  <h5>v3.0</h5>
                  <p>With this version I have removed the label and just display the overview under the title.</p>
                </span>
              </div>
            </div>
    
            <div class="mt-4 support-container">
              <h4 class="col-12 col-lg-8 p-1 mb-3 ml-auto">Content Scannability</h4>
              <div class="support-block row">
                <figure class="col-12 col-lg-4 text-center mb-5">
                  <img class="w-100" src="./images/credibility_1.0.jpg">
                  <figcaption>v1.0 Scannability</figcaption>
                </figure>
                <span class="col-12 col-lg-8">
                  <h5>v1.0</h5>
                  <p>I felt images added a sense of credibility to users as they could identify my interests and hobbies
                    to get a quick understanding of myself.</p>
                </span>
                <figure class="col-12 col-lg-4 text-center mb-5">
                  <img class="w-100 border" src="./images/credibility_2.0.png">
                  <figcaption>v2.0 Scannability</figcaption>
                </figure>
                <span class="col-12 col-lg-8">
                  <h5>v2.0</h5>
                  <p>I personally felt that it was a little excessive and removed the bulk of the images. However, I
                    identified that it came across too seriously and didn’t portray my enthusiastic personality</p>
                </span>
                <figure class="col-12 col-lg-4 text-center">
                  <img class="w-100" src="./images/credibility_3.0.jpg">
                  <figcaption>v3.0 Scannability</figcaption>
                </figure>
                <span class="col-12 col-lg-8">
                  <h5>v3.0</h5>
                  <p>I have since added additional images back to the site. In doing so I wanted to be more reserved and
                    not so blunt about them. My personal opinion is that it complements the site nicely.</p>
                </span>
              </div>
            </div>
        </div>
    </app-card>
</div>

<div class="col-12">
    <app-card title="Development" icon="developer_mode">
        <div class="mt-sm-4 mt-md-0">
            <p>Initially, I used Squarespace to host my work; however, I quickly became frustrated with the customization
              hurdles. So, I decided to develop and host my portfolio directly. At the time I sought the use of CSM
              functionality so I could modify the content seamlessly. Due to site complexity implementing
              such features seemed unnecessary so I just created a single JSON file to use. This file held the majority of
              the sites content including project content, images, and various variables for rendering. Through time I
              learned that this approach was not scalable, and I soon deviated away.</p>
            <p>I classified each version of my site based on the framework & render style for importing the content.
            </p>
            <div class="mt-5 support-container">
              <div class="support-block row">
                <figure class="col-12 col-lg-4 text-center">
                  <img class="w-100" src="./images/fullpage_1.0.jpg">
                  <figcaption>v1.0 Portfolio</figcaption>
                </figure>
                <span class="col-12 col-lg">
                <h4><a class="text-light-blue" href="http://www.g.ferril.com/archive/1.0" target="_blank">Version 1 (2017)</a></h4>
                <p>This version consisted of a linear file structure that used JavaScript to imitate depth. This site was thrown
                  together quickly as I wasn’t too familiar with PHP. This site functioned but the scalability issues
                  became apparent as I started adding content.</p>
                </span>
              </div>
            </div>
            <div class="mt-5 support-container">
              <div class="support-block row">
                <figure class="col-12 col-lg-4 text-center">
                  <img class="w-100" src="./images/fullpage_2.0.jpg">
                  <figcaption>v2.0 Portfolio</figcaption>
                </figure>
                <span class="col-12 col-lg">
                <h4><a class="text-light-blue" href="../../../archive/2.0" target="_blank">Version 2 (2018)</a></h4>
                <p>I chose to utilize a modern site file structure. I have a folder for global site elements (header,
                  footer, page template, etc.) and folders for different content. With this method I was able to focus
                  primarily on the page content and not so much on making it ‘work’. I implemented modular elements to
                  quickly render page content and rely on the cache.</p>
                </span>
              </div>
            </div>
            <div class="mt-5 support-container">
              <div class="support-block row">
                <figure class="col-12 col-lg-4 text-center">
                  <img class="w-100" src="./images/fullpage_3.0.jpg">
                  <figcaption>v3.0 Portfolio</figcaption>
                </figure>
                <span class="col-12 col-lg">
                <h4>Version 3 (2019)</h4>
                <p>Version 3 utilizes a similar framework to 2.0, except with additional depth. I implemented configuration settings for the ability to turn projects on or off as well as a locking confidential material. Through this implementation I have expanded my working knowledge with back-end scripts and the benefits of using them.</p>
                </span>
              </div>
            </div>
          </div>
    </app-card>
</div>

  
<div class="col-12">
    <app-card title="User Feedback" icon="feedback" iconColor="green">
        <div class="mt-sm-4 mt-md-0">
            <p>Thank you for reading through the evolution of my portfolio. I would be harming myself if I didn’t use this
                as an opportunity to ask for feedback. This form is 100% anonymous and I appreciate your time reading through
                my portfolio.</p>
            <iframe name="voter" style="display:none;"></iframe>
            <div id="feedbackThanks" class="row m-5 d-none justify-content-center align-items-center" style="font-size: 1.5rem;">
                <i class="material-icons-outlined text-green mr-2" style="font-size: 2rem;">check_circle</i>
                <span class="text-center">Thank you for your feedback</span>
            </div>
            <form id="sendFeedback" method="post" action="submitFeedback.php" target="voter" class="needs-validation" novalidate>
                <div class="form-group">
                <label for="userTypeSelect">User Type (optional)</label>
                <select class="form-control" name="usertype" id="userTypeSelect">
                    <option>Anonymous</option>
                    <option>Recruiter</option>
                    <option>Hiring Manager</option>
                    <option>Colleague</option>
                </select>
                </div>
                <div class="form-group">
                <label for="userFeedback">Feedback</label>
                <textarea type="text" class="form-control" name="feedback" id="userFeedback" rows="4" placeholder="I think..." required></textarea>
                <div class="invalid-feedback">
                    Feild cannot be blank.
                </div>
                </div>
                <button class="btn btn-primary" type="submit">Submit form</button>
            </form>
            <script>
            // Example starter JavaScript for disabling form submissions if there are invalid fields
            (function() {
                'use strict';
                window.addEventListener('load', function() {
                // Fetch all the forms we want to apply custom Bootstrap validation styles to
                var forms = document.getElementsByClassName('needs-validation');
                // Loop over them and prevent submission
                var validation = Array.prototype.filter.call(forms, function(form) {
                    form.addEventListener('submit', function(event) {
                    if (form.checkValidity() === false) {
                        event.preventDefault();
                        event.stopPropagation();
                    }
                    form.classList.add('was-validated');
                    if (form.checkValidity() === true) {
                        $('#sendFeedback').addClass('d-none');
                        $('#feedbackThanks').removeClass('d-none');
                    }
                    }, false);
                });
                }, false);
            })();
            </script>
        </div>
    </app-card>
</div>
