main#mainContent {
    padding-top: 60px;
    height: 100vh;
    overflow: auto;
}

// main #siteContent::-webkit-scrollbar {
//     width: 7px;
// }

main>#siteContent::-webkit-scrollbar:hover {
    width: 15em;
}

main>#siteContent::-webkit-scrollbar-thumb {
    background: var(--light-blue);
}

// main #siteContent::-webkit-scrollbar-thumb:hover {
//     background: var(--dark-red);
// }