main#mainContent {
    padding-top: 60px;
    overflow: auto;
}

g-page-template {
    height: calc(100vh - 60px);
}

main#siteContent div:last-child::-webkit-scrollbar {
    width: 7px;
}

main#siteContent div:last-child::-webkit-scrollbar:hover {
    width: 15em;
}

main#siteContent div:last-child::-webkit-scrollbar-thumb {
    background: var(--light-blue);
}
main#siteContent div:last-child::-webkit-scrollbar-thumb:hover {
    background: var(--dark-red);
}
