<!-- About Portfolio -->
<div class="pelter">f</div>
<div class="col-12 col-xl-6 order-1 order-xl-2">
</div>
<div class="col-12 col-xl-6 order-1 order-xl-2">
    <div class="pelter">f</div>
</div>
<div class="pelter">f</div>
<div class="col-12 col-xl-6 order-1 order-xl-2">
</div>
<div class="col-12 col-xl-6 order-1 order-xl-2">
    <div class="pelter">f</div>
</div>
<div class="pelter">f</div>
<div class="col-12 col-xl-6 order-1 order-xl-2">
</div>
<div class="col-12 col-xl-6 order-1 order-xl-2">
    <div class="pelter">f</div>
</div>
<div class="pelter">f</div>
<div class="col-12 col-xl-6 order-1 order-xl-2">
</div>
<div class="col-12 col-xl-6 order-1 order-xl-2">
    <div class="pelter">f</div>
</div>
<div class="pelter">f</div>
<div class="col-12 col-xl-6 order-1 order-xl-2">
</div>
<div class="col-12 col-xl-6 order-1 order-xl-2">
    <div class="pelter">f</div>
</div>
<div class="pelter">f</div>
<div class="col-12 col-xl-6 order-1 order-xl-2">
</div>
<div class="col-12 col-xl-6 order-1 order-xl-2">
    <div class="pelter">f</div>
</div>
<div class="pelter">f</div>
<div class="col-12 col-xl-6 order-1 order-xl-2">
</div>
<div class="col-12 col-xl-6 order-1 order-xl-2">
    <div class="pelter">f</div>
</div>