<!-- <div id="banner-img">
    <figure>
        <img src="./../../../assets/images/general/banner.jpg" class="w-100">
    </figure>
</div> -->
<!-- About Portfolio -->
<div class="col">
    <h1 section>
        <span>About myself</span>
    </h1>
    <div class="my-5">
        <div id="banner-img" style="height: 290px;overflow: hidden;">
            <figure style="
        height: inherit;
        "><img src="./../../../assets/images/general/banner.jpg" class="w-100"
                    style="top: 30;position: relative;top: -170px;"></figure>
        </div>
    </div>

    <!-- About Me -->
    <section class="my-5">
        <h4>
            Brief summary
        </h4>
        <p class="">Hello, thanks for taking time to review my portfolio. I’m an extremely motivated interactive
            designer,
            strategist, and researcher with a strong desire to create intuitive and beautiful
            user experiences. I regularly challenge myself by learning new skills that allow me
            to stay up to date on the latest trends and technologies while following best practices.</p>

        <p>I'm passionate about creating scalable design systems using the latest front-end frameworks
            like Angular and Bootstrap; to which is how my portfolio was made. In addition, I styled my portfolio to
            reflect my interest working
            on enterprise level applications and the challenges they present. My intent is to demonstrate my knowledge
            and dedication to
            learning and challenging myself in new and exciting ways.</p>
    </section>

    <!-- Hobbies -->
    <section class="my-5" id="hobbies">
        <!-- <span>Background</span>
        <div id="banner-img">
            <figure>
                <img src="./../../../assets/images/general/banner.jpg" class="w-100">
            </figure>
        </div>
        <div class="mt-3">
            <span class="mb-2 mt-1 text-light-red" style="font-size: 1.125rem;">

            </span>
        </div>
        <div class="">
            <span class="mb-2 mt-1 text-light-red" style="font-size: 1.125rem;">
                Hobbies
            </span> -->
        <div class="mx-n2 row no-gutters" id="hobbies">
            <span class="col-4 p-2">
                <div class="hobby-img"
                    style="background: url(./../../../assets/images/general/motorcycle.jpg);background-size: cover;background-position-x: center; height: 170px;">
                    <span class="hobby-rollover d-none">
                        <div class="rollover-label">
                            Motorcycle Racing
                        </div>
                    </span>
                </div>
            </span>
            <span class="col-4 p-2">
                <div class="hobby-img"
                    style="background: url(./../../../assets/images/general/explore.jpg);background-size: cover;background-position-x: center; height: 170px;">
                    <span class="hobby-rollover d-none">
                        <div class="rollover-label">
                            Traveling
                        </div>
                    </span>
                </div>
            </span>
            <span class="col-4 p-2">
                <div class="hobby-img"
                    style="background: url(./../../../assets/images/general/scuba.jpg);background-size: cover;background-position-x: center; height: 170px;">
                    <span class="hobby-rollover d-none">
                        <div class="rollover-label">
                            Scuba Diving
                        </div>
                    </span>
                </div>
            </span>
        </div>
        <!-- </div> -->
    </section>

    <!-- Resume -->
    <section class="my-5" id="resume">
        <h4>
            Digital resume
        </h4>
        <div id="exp-timeline">
            <div class="exp-timeline-item">
                <div class="timeline-marker">
                </div>
                <div class="timeline-bullet">
                </div>
                <div class="timeline-item-content">
                    <div class="timeline-item-head">
                        <div class="timeline-item-name">
                            Texas Mutual Insurance Company
                        </div>
                        <div class="timeline-item-date">
                            November 2019 – Present
                        </div>
                    </div>
                    <div class="timeline-item-desc">
                        <p>Conducts qualitative and quantitative research to gather user insights and needs.
                        </p>
                        <ul>
                            <li><span>Plan UX research initiatives and outline strategy for the project</span></li>
                            <li><span>Conduct research to identify user goals and validate assumptions</span></li>
                            <li><span>Partner with agile scrum teams to assist building complex software</span></li>
                            <li><span>Evaluate UX strengths and weaknesses post-deployment to drive future
                                    initiatives</span></li>
                            <li><span>Create user requirements, user stories, research plans and other supportive
                                    deliverables</span></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="exp-timeline-item">
                <div class="timeline-marker">
                </div>
                <div class="timeline-bullet">
                </div>
                <div class="timeline-item-content">
                    <div class="timeline-item-head">
                        <div class="timeline-item-name">
                            g.ferril.com
                        </div>
                        <div class="timeline-item-date">
                            April 2017 – Present
                        </div>
                    </div>
                    <div class="timeline-item-desc">
                        <p>Ongoing freelance consultant providing various clients with enhanced user experiences. I
                            work independently or assist current teams with comprehensive solutions and designs. I
                            manage client requests and projects simultaneously at various stages in the design
                            process. I offer strategic expertise into the design process as well as front-end
                            development best practices.
                        </p>
                        <ul>
                            <li><span>Evaluate websites and offer user-centered suggestions</span></li>
                            <li><span>Develop responsive front-end user experiences</span></li>
                            <li><span>Create various prototypes for research</span></li>
                            <li><span>Guide product design through strategic user goal setting</span></li>
                            <li><span>Facilitate user-focused design sessions</span></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="exp-timeline-item">
                <div class="timeline-marker">
                </div>
                <div class="timeline-bullet">
                </div>
                <div class="timeline-item-content">
                    <div class="timeline-item-head">
                        <div class="timeline-item-name">
                            cxLoyalty, Inc.
                        </div>
                        <div class="timeline-item-date">
                            July 2018 - September 2019
                        </div>
                    </div>
                    <div class="timeline-item-desc">
                        <p>Lead product designer on a white-labeled eCommerce platform. Leveraged research to
                            influence features and client requests. Developed a responsive UI Toolkit from a static
                            pattern library.</p>
                        <ul>
                            <li><span>Designed web/mobile interfaces based on best practices
                                    and industry trends</span></li>
                            <li><span>Developed and Maintained online UI Toolkit/Pattern
                                    Library</span></li>
                            <li><span>Facilitated focused user research initiatives with
                                    strategic methodologies</span></li>
                            <li><span>User liaison to key stakeholders and
                                    collaborators</span></li>
                            <li><span>Improved UX turnaround with a dynamic sketch
                                    prototype</span></li>
                            <li><span>Assisted sprint QA to ensure consistency between mockups
                                    and development</span></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="exp-timeline-item">
                <div class="timeline-marker">
                </div>
                <div class="timeline-bullet">
                </div>
                <div class="timeline-item-content">
                    <div class="timeline-item-head">
                        <div class="timeline-item-name">
                            Schermer
                        </div>
                        <div class="timeline-item-date">
                            May 2018 – July 2018
                        </div>
                    </div>
                    <div class="timeline-item-desc">
                        <p>Assisted research team with a two-month contract to observe and facilitate usability
                            tests. Introduced proper methods to identify key insights and how to leverage findings.
                        </p>
                        <ul>
                            <li><span>Organized research synthesis working sessions</span></li>
                            <li><span>Created research scripts and finding reports</span></li>
                            <li><span>Presented high-level findings to stakeholders</span></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="exp-timeline-item">
                <div class="timeline-marker">
                </div>
                <div class="timeline-bullet">
                </div>
                <div class="timeline-item-content">
                    <div class="timeline-item-head">
                        <div class="timeline-item-name">
                            Prime Digital Academy
                        </div>
                        <div class="timeline-item-date">
                            September 2017 – January 2018
                        </div>
                    </div>
                    <div class="timeline-item-desc">
                        <p>Joined Prime Digital Academy to learn latest UX trends and best practices. I worked alongside
                            other designers to provide comprehensive solutions for six clients. Industries included
                            healthcare, eCommerce, logistics, and education.
                        </p>
                        <ul>
                            <li><span>Built robust Axure prototypes for research</span></li>
                            <li><span>Oversaw product design through strategic goal setting</span></li>
                            <li><span>Collaborated in user-focused design sessions</span></li>
                            <li><span>Added multiple methodologies to my strategy toolbelt</span></li>
                            <li><span>Practiced working in an ideal agile approach</span></li>
                            <li><span>Develop responsive front-end user experiences</span></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="exp-timeline-item">
                <div class="timeline-marker">
                </div>
                <div class="timeline-bullet">
                </div>
                <div class="timeline-item-content">
                    <div class="timeline-item-head">
                        <div class="timeline-item-name">
                            IdentiSys, Inc.
                        </div>
                        <div class="timeline-item-date">
                            April 2012 - September 2017
                        </div>
                    </div>
                    <div class="timeline-item-desc">
                        <p>Hired to create product and sales videos, I then transitioned into their Senior Designer
                            role. Became the primary resource for all design material that assisted annual revenues
                            of up to $60 million. I designed and managed the company’s website including their
                            eCommerce store.</p>
                        <ul>
                            <li><span>Advised marketing department on best design strategies to target
                                    audience</span></li>
                            <li><span>Created ADA compliant material</span></li>
                            <li><span>Designed corporate material and brand guidelines</span></li>
                            <li><span>Created style guides for multiple divisions of the company</span></li>
                            <li><span>Collaborated with vendors to establish project scope and budget</span></li>
                            <li><span>Presented design concepts to leadership</span></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>



<div class="col-12 order-3">

</div>