<!-- Toggle Panel -->
<!-- <ng-container *ngIf="setSidePanel()"> -->
<!-- <div class="sticky-top"> -->
<!-- <div g-sidepanel id="sidePanel" class="d-none d-lg-block collapse show sticky-top"> -->
<div class="" id="gf-ply-card">
    <img src="./../../../assets/images/general/profile-img.jpg" alt="Image of Geoffrey Ferril" id="gf-ply-img">
    <div id="gf-ply-name">Geoffrey Ferril</div>
    <div id="gf-ply-title">UX / UI Designer</div>
</div>

<nav id="g-nav">
    <!-- <div class="g-nav-item">
        <a class="g-nav-link">
            {{ isActive }}
        </a>
    </div> -->
    <div class="g-nav-item acstive" id="projectNav">
        <a routerLink="projects" class="g-nav-link" [ngClass]="{'active': isActive === 'projects'}">
            <span>Projects</span>
        </a>
        <ul class="nav g-sidenav" id="navProjects">
            <ng-container *ngFor="let project of projects">
                <ng-container *ngTemplateOutlet="projectLinks; context: {project:project}"></ng-container>
            </ng-container>
        </ul>
    </div>
    <div class="g-nav-item">
        <a routerLink="about-me" class="g-nav-link" [ngClass]="{'active': isActive === 'about-me'}">
            About Me
        </a>
    </div>
</nav>

<!-- <nav id="g-nav" class="accordion">
    <div class="g-nav-item active" id="projectNav">
        <a class="g-nav-link" data-toggle="collapse" data-target="#navProjects" aria-expanded="true"
            aria-controls="navProjects">
            <span>Projects</span>
            <i class="material-icons-outlined">lock</i>
        </a>
        <ul class="nav g-sidenav collapse show" id="navProjects" aria-labelledby="projectNav" data-parent="#g-nav">
            <ng-container *ngFor="let project of projects">
                <ng-container *ngTemplateOutlet="projectLinks; context: {project:project}"></ng-container>
            </ng-container>
        </ul>
    </div>
    <div class="g-nav-item">
        <a routerLink="about-me" class="g-nav-link">
            About Me
        </a>
    </div>
</nav> -->


<ng-template #projectLinks let-project="project">
    <li *ngIf="project.enabled" [ngClass]="{'active': isActive === project.folder}">
        <a routerLink="projects/{{ project.folder }}" id="project-{{ project.number }}">
            <ng-container *ngIf="project.lock && !securityObject.isAuthenticated">
                <ng-container *ngTemplateOutlet="locked; context: {project:project}"></ng-container>
            </ng-container>
            <!-- <span class="">{{project.navName === undefined? project.name : project.navName}}</span> -->
            <span class="">{{project.navName === undefined? project.name : project.navName}}</span>
        </a>
    </li>
</ng-template>


<ng-template #locked let-project="project">
    <i class="material-icons-outlined">lock</i>
</ng-template>