<!-- Toggle Panel -->
<!-- <ng-container *ngIf="setSidePanel()"> -->
    <div g-sidepanel id="sidePanel" class="d-none d-lg-block collapse show sticky-top">
        <div class="" id="gf-ply-card">
            <img src="http://www.g.ferril.com/3.0/images/profile-img.jpg" alt="Image of Geoffrey Ferril" id="gf-ply-img">
            <div id="gf-ply-name">Geoffrey Ferril</div>
            <div id="gf-ply-title">UX / UI Designer</div>
        </div>

        <nav class="gf-links">
            <div class="gf-nav-item no-gutters">
                <!-- *ngFor= links -->
                <a routerLink="/" class="gf-nav-link col" id="Home">
                    <i class="material-icons">home</i>
                    <span class="d-block">Portfolio homepage</span>
                    <div class="nav-link-sel">
                        <!-- make component specific style-->
                        <div class="mask-shadow">
                            <div class="mask"></div>
                        </div>
                    </div>
                </a>
                <a routerLink="/work" class="gf-nav-link col" id="Work">
                    <i class="material-icons">work</i>
                    <span class="d-block">Work examples</span>
                    <div class="nav-link-sel">
                        <!-- make component specific style-->
                        <div class="mask-shadow">
                            <div class="mask"></div>
                        </div>
                    </div>
                </a>
            </div>
        </nav>
    </div>
<!-- </ng-container> -->